.lp-animated-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  margin-top: 10em;

  z-index: 3;
}

.lp-animated-grid {
  display: grid;
  gap: 1.5rem;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "item1 item1 item2 item2 item2"
    "item1 item1 item3 item3 item4";
}

.lp-grid-item {
  height: auto;
  display: flex;
  padding: 1.5rem;

  background-color: var(--card-dark-color);
  color: var(--title-color);

  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.lp-grid-item-1 {
  grid-area: item1;
  opacity: 0.6;
  transform: translateX(-100px);

  flex-direction: column;
  align-items: center;

  gap: 3rem;
}

.lp-grid-item-1 h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.5rem;
}

.lp-grid-item-content-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1rem;

  width: 100%;

  font-size: 1.2rem;
}

.lp-grid-item-2 {
  grid-area: item2;
  flex-direction: column;
  overflow: hidden;

  opacity: 0.5;
  transform: translateX(100px);
}
.card2-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.card2-content-wrapper p {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(187, 211, 243, 0.7);
  margin-top: 1.5rem;

  position: absolute;
}
.card2-content-wrapper p:nth-child(2) {
  top: 30%;
  left: 5%;

  font-size: 1.2rem;
  text-shadow: none;


}
.card2-content-wrapper p:nth-child(3) {
  top: 60%;
  left: 15%;

  font-size: 1.2rem;
  text-shadow: none;
  margin-top: 0;
}


.img-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.img-card-container img {
  width: 35%;
  position: absolute;
}
.img-card-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


.img-card-container img:nth-child(1) {
  top: 7em;
  right: 12%;

  transform: rotate(-25deg);

  z-index: 3;

}

.img-card-container img:nth-child(2) {
  top: 3em;
  right: -4em;

  transform: rotate(-10deg) scaleX(-1);

  z-index: 2;
}

.img-card-container img:nth-child(3) {
  width: 20%;
  top: -1em;
  right: -3em;
  transform: scaleX(-1);

  z-index: 1;
}

.lp-grid-item-3 {
  grid-area: item3;
  padding: 0;

  mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 1%,
      rgba(0, 0, 0, 0.6) 10%,
      black 20%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 1%,
      rgba(0, 0, 0, 0.6) 10%,
      black 20%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 1%,
      rgba(0, 0, 0, 0.6) 10%,
      black 20%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 1%,
      rgba(0, 0, 0, 0.6) 10%,
      black 20%
    );
  mask-composite: intersect;

  opacity: 0.5;
  transform: translateY(80px);
}

.lp-grid-item-3 video {
  width: 100%;
  object-fit: cover;
}

.lp-grid-item-4 {
  grid-area: item4;

  opacity: 0.7;
  transform: translateX(100px);
}

.card4-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

/* Título de beneficios */
.benefits-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Estilos para los items de la lista */
.list-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.list-item-wrapper:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.list-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.list-item-img {
  min-width: 24px;
  color: var(--icons-blue-light-color);
}

.list-item-text {
  font-size: 1rem;
  line-height: 1.5;
}

.list-title-wrapper .list-item-text {
  font-weight: bold;
}

.chart-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.chart-container {
  position: relative;
  height: 400px;
  width: 90%;
  max-width: 100%;
  margin: 20px auto;
}
